matplotlib # for creating plots
rasterio # python wrapper on top of gdal for visualizing geospatial data
tqdm # create progress bars
segmentation-models-pytorch # includes code for unet and other good segmentation models
pandas
wandb